:root{
	--titleColor: #00A13A;
	--secondaryColor: #34cf6d;
	--tertiaryColor: #FFF;
	--quartaryColor: #DA251D;
	--pentawhateverColor: #fff1ea;
	--backgroundColor: #FFF;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Questrial&family=Work+Sans:wght@200&display=swap');
body{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	background-color: white;
}

#map{
	width: 100vw;
	height: 100vh;
}

#mapBG #map{
	opacity: 0.2;
	filter: hue-rotate(130deg);
}

.leaflet-routing-container{
	display: none;
}

#gameTitle{
	text-align: center;
	font-size: 8vw;

	font-family: 'Montserrat', sans-serif;
	color: var(--titleColor);
	margin-bottom: 0.25em;

}

#mainSuperContainer{
	width: 100vw;
	display: flex;
	justify-content: center;
}

#mainContainer{
	max-width: 75vw;
	width: fit-content;
	padding: 1vw;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(50,0,0,0.5);
	-moz-box-shadow: 5px 5px 10px 0px rgba(50,0,0,0.5);
	box-shadow: 5px 5px 10px 0px rgba(50,0,0,0.5);
	background-color: var(--pentawhateverColor);
}
#modeSelectContainer button:hover{
	filter: brightness(85%);
}

#gamentContainer #mainContainer{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
} 

.preSelectionContainer{
	display: none;
	grid-auto-flow: row;
	min-width: 15vw;
	row-gap: 5px;
}

.preSelectionContainer button{
	border: none;
	border-radius: 0px;
	padding: 0.5em;
	width: 100%;

	font-family: 'Questrial', sans-serif;
	font-size: 2vw;

	cursor: pointer;
	background-color: var(--secondaryColor);
	color: white;
	height: 1.75em;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: filter 0.3s;
}

.inputMenuContainer{
	grid-template-areas: "input input" "back ok";
	column-gap: 5px;
}

.inputMenuContainer > input{
	grid-area: input;
	font-size: 3em;
	font-family: 'Questrial', sans-serif;
	margin-bottom: 2vh;
	padding: 0.3em;
}

#mapBG{
	position: absolute;
	top: 0;
	z-index: -1;
}

#game{
	display: none;
}

.settingsSelection{
	display: grid;
	grid-auto-flow: row;
	text-align: center;

	font-family: 'Questrial', sans-serif;
	font-size: 1.5em;
	color: var(--secondaryColor);
}

.settingsSelection > h2{
	font-weight: normal;
	font-size: 3em;
	margin-bottom: 0.4em;
	font-family: 'Montserrat', sans-serif;
	color: var(--titleColor);
	margin-top: 0.3em;
}

#settingsSelection > [data-startgame]{
	margin-top: 1em;
	color: white;
	background-color: var(--titleColor);
	font-size: 1.5em;
}

.selectionContainer{
	display: grid;
	grid-auto-flow: row;
	width: calc(100% - 10px);
	padding: 5px;
	row-gap: 5px;

	margin-bottom: 1em;
}

.selectionContainer > button{
	border-radius: 0px;
	text-align: center;
	padding: 5px;
	background-color: var(--secondaryColor);
	font-family: 'Questrial', sans-serif;
	color: white;
	font-size: 1em;
}

.objectSelection input {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	background: var(--titleColor);
	margin-bottom: 0.5em;
}
.objectSelection input::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: var(--secondaryColor); /* Green background */
cursor: pointer; /* Cursor on hover */
}

.objectSelection input::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: var(--secondaryColor); /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.objectSelection input:focus{
	outline: none;
}

.selectionContainer > button:focus{
	outline: none;
}

.selectionContainer > button[data-selected]{
	background-color: var(--titleColor);
	cursor: initial;
}

.selectionContainer:not([disabled]) > button[data-selected]:hover{
	filter: none !important;
}

.selectionContainer[disabled] > button{
	filter: brightness(60%) !important;
	cursor: initial;
}

.button{
	border-radius: 0px;
	cursor: pointer;
	border: none;
	font-family: 'Questrial', sans-serif;
	padding: 0.2em;
	transition: filter 0.3s;
}

.button:hover{
	filter: brightness(85%);
}

.button:disabled{
	filter: brightness(60%) !important;
	cursor: initial;
}

.objectSelection{
	display: grid;
	grid-auto-flow: row;
}

.settingsSubtitle{
	font-size: 1.5em;
	margin-bottom: 0.25em;
}

#p2pLobby{
	display: none;
	grid-template-areas: "header header" "settings users" "chat users" "chat buttons";
	grid-template-columns: 25vw 50vw;
	grid-template-rows: auto 32.5vh 27.5vh 7vh;
	gap: 5px;

	width: 75vw;
}

#p2pLobby > div{
	border: 1px solid grey;
	padding: 10px;
}

#p2pLobby [data-sectionTitle]{
	font-size: 18pt;
	margin-bottom: 0.5em;
	border-bottom: 1px solid lightgrey;
	font-size: 2em;
}

#p2pHeader{
	grid-area: header;
	text-align: center;
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
	color: var(--titleColor);
}

#p2pSettings{
	grid-area: settings;
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: auto 1fr;
	row-gap: 0.75em;
	overflow: hidden;
}

#p2pSettings > span, #p2pChat > span{
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	color: var(--titleColor);
}

#lobbySettingsSelection{
	overflow-y: auto;
	overflow-x: hidden;
}

#p2pChat{
	grid-area: chat;
	display: grid;
	grid-auto-flow: row;
	overflow-y: auto;
	row-gap: 5px;

	grid-template-rows: auto 1fr auto;
}

#p2pChatMessages{
	display: grid;
    grid-auto-rows: max-content;
    row-gap: 0.25em;
	font-family: 'Questrial', sans-serif;
	overflow-y: auto;
	height: 100%;
	font-size: 1.25em;
}

#p2pChat > input {
	font-size: 1.15em;
	font-family: 'Questrial', sans-serif;
	padding: 0.4em;
}

#p2pChat > input:focus{
	outline: none;
}

#p2pUsers{
	grid-area: users;
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: min-content;
	row-gap: 0.5em;
	padding-top: 1em;
}

.p2pUserEntry{
	display: grid;
	grid-auto-flow: column;
	grid-template-areas: "username host spacing1 color spacing2 hostBtn kick";
	column-gap: 1em;
	grid-template-columns: 4fr 1fr 6fr 2fr 2fr 2fr 1fr;

	border: 1px solid lightgrey;
	border-radius: 0px;
	padding: 0.5em;

	font-size: 1.3em;
	font-family: 'Questrial', sans-serif;
}

.p2pUserEntry:last-child{
	/* border: none; */
}

.p2pUserEntry button{
	width: fit-content;
	padding: 0.4em;
}

.p2pUserEntry [data-username]{
	grid-area: username;
}

.p2pUserEntry [data-host]{
	grid-area: host;
	color: var(--titleColor);
}

.p2pUserEntry [data-color]{
	grid-area: color;
}

.p2pUserEntry [data-kick]{
	grid-area: kick;
	background-color: #d32f2f;
	color: white;
}

.p2pUserEntry [data-hostbtn]{
	grid-area: hostBtn;
	background-color: #0097a7;
	color: white;
}

.colorSelect{
	letter-spacing: -0.175em;
}

.colorSelect:disabled{
	color: initial;
}

.colorSelect option:disabled{
	background-color: grey;
}

#p2pButtons{
	grid-area: buttons;
	grid-auto-columns: min-content;
	column-gap: 10px;
}

#p2pButtons button{
	width: 15vw;
	font-size: 18pt;
	color: white;
	background-color: var(--titleColor);
	height: 100%;
}

.MultiCanvasEmptyCell{
	background-color: rgba(0, 0, 0, 0.95);
}

#ui {
	z-index: 666; /* funny metal */
	position: absolute;
	top: 0%;
	left: 0%;
	color: white;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
}

#qotd {
	position: absolute;
	left: 79%;
	width: 20%;
	height: fit-content;
	height: -moz-fit-content;
	background-color: #FFFFFF66;
	border: 0.5vw solid gainsboro;
	pointer-events: all;
	border-top: 0;
	border-right: 0;
	top: 0%;
	color: black;
	overflow: auto;
}

#mapButtonsContainer{
	position: absolute;
	pointer-events: all;
	width: 20%;
	left: 40%;
	height: 10%;
	top: 85%;

	display: grid;
	grid-template-rows: 1fr 1fr;
	row-gap: 5px;
	grid-template-areas: "skipBtn" "otherBtns";
}

#mapButtonsContainer button{
	border-style: 0px;
	color: white;
	font-size: 1.5em;
	border-radius: 0px;
}

#mapButtons{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;

	grid-area: otherBtns;
	font-family: 'Questrial', sans-serif;
}

#playerSkip{
	display: none;
	width: 50%;
	position: relative;
	left: 25%;
	background-color: #008a99;
	color: white;
	border-color: #00b8cc;
	height: 100%;

	grid-area: skipBtn;
}

#chatZoneContainer{
	display: none;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	pointer-events: all;
	z-index: 1000;
}

#chatZone {
	position: absolute;
	width: 40%;
	height: 20%;
	background-color: #FFFFFF66;
	pointer-events: all;
	padding: 10px;
	top: 15%;
	overflow: auto;
	color: black;

	border: 5px solid gainsboro;
	border-radius: 5px;
	left: 30%;
	font-size: 16pt;
}

#messages {
	width: 100%;
	height: calc(95% - 1.5em);
	display: flex;
	align-items: flex-start;
	flex-direction: column-reverse;
	overflow: hidden;
	font-family: 'Questrial', sans-serif;
	font-size: 1em;

}

#speech {
	width: calc(100% - 1em - 0.75em);
	height: 1em;
	font-size: 1em;
	bottom: 0.25em;
	position: absolute;
	font-family: 'Questrial', sans-serif;
	font-size: 1em;
	padding: 0.4em;
}

#speech:focus{
	outline: none;
}

#playerMove {
	background-color: var(--titleColor);
	height: 100%;
	width: 100%;
}

#movePar {
	width: 100%;
	height: 100%;
}

#movePar #moveTip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 0.8em;
}

#movePar #moveTip::after {
  	content: "";
  	position: absolute;
  	top: 100%;
  	left: 50%;
  	margin-left: -5px;
  	border-width: 5px;
  	border-style: solid;
  	border-color: black transparent transparent transparent;
	font-size: 0.8em;
}

#playerMove:hover #moveTip {
	visibility: visible;
}

#playerRest{
	background-color: var(--quartaryColor);
	width: 100%;
	height: 100%;
}

#restPar {
	width: 100%;
	height: 100%;
}

#restPar #restTip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

#restPar #restTip::after {
  	content: "";
  	position: absolute;
  	top: 100%;
  	left: 50%;
  	margin-left: -5px;
  	border-width: 5px;
  	border-style: solid;
  	border-color: black transparent transparent transparent;
}

#playerRest:hover #restTip {
	visibility: visible;
}

#skipPar {
	width: 100%;
	height: 100%;
}

#skipPar #skipTip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

#skipPar #skipTip::after {
  	content: "";
  	position: absolute;
  	top: 100%;
  	left: 50%;
  	margin-left: -5px;
  	border-width: 5px;
  	border-style: solid;
  	border-color: black transparent transparent transparent;
}

#playerSkip:hover #skipTip {
	visibility: visible;
}
.objectInfoContainer span{
	font-family: 'Questrial', sans-serif;
}

.objectInfoContainer span[data-title]{
	font-size: 1.8em;
}

.objectInfoContainer span[data-desc]{
	line-height: 1.2;
	font-size: 1.35em;
}

#questionImageContainer{
	max-width: 100%;
	max-height: 100%;
}

#questionImageContainer img{
	width: 100%;
	height: auto;
}

#gameTurnInfo{
	display: none;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 4em;
	margin-top: 2vh;
}

#chatOverlay{
	position: absolute;
	width: 40vw;
	left: 30vw;
	bottom: 20vh;
	font-size: 14pt;
}

#chatMessageContainer{
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.5em;
	padding: 1em;
	max-height: 35vh;
	overflow: hidden;
}

#chatMessageContainer > span{
	width: 100%;
	/* font-weight: bold; */
	/* -webkit-text-stroke: 1px black; */
}

#chatInput{
	width: 100%;
	height: 2em;
	padding: 1em;
	font-size: 14pt;
	background-color: rgba(50, 50, 50, 0.25);
	color: white;
	border-radius: 5px;
	display: none;
	pointer-events: auto;

	position: absolute;
}

#chatInput::placeholder{
	color: grey;
}

#chatInput:focus{
	border: none;
}
.serverMsg {
	color: yellow;
}

.playerMsg {
	color: white;
}

.botMsg {
	color: var(--secondaryColor); /* mmmmmm posh colour :) */
}

#gameEndOverlay{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.75);
	pointer-events: all;
	display: none;
	top: 0;
}

#gameEndContainer{
	position: absolute;
	width: 20vw;
	left: 40vw;
	/* height: -moz-fit-content; */
	/* height: fit-content; */
	top: 20vh;
	background-color: var(--pentawhateverColor);
	color: var(--titleColor);
	padding: 1em;
	pointer-events: auto;
	text-align: center;
	font-family: 'Questrial', sans-serif;
}

#gameEndContainer [gameEnd-score]{
	font-size: 2em;
	display: block;
	margin-bottom: 0.5em;
}

#gameEndLeaderboard{
	display: grid;
	grid-auto-flow: row;
	border: 0px;
}

#gameEndLeaderboard > div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 0px;
	padding: 0.25em;
}

#gameEndLeaderboard > div:last-child{
	border: none;
}

#gameEndMessage{
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0.2em;
	display: block;
}

#gameEndControls{
	/* position: absolute; */
	/* bottom: 0.5em; */
	display: grid;
	text-align: center;
	row-gap: 0.25em;
	width: 100%; /* account for padding */
	margin-top: 1em;
}

#gameEndControls button{
	color: white;
	padding: 0.25em;
	font-size: 2em;
}

#gameEndExit{
	background-color: var(--quartaryColor);
}

#gameEndTimeSpanThing{
	font-size: 1.5em;
	color: var(--secondaryColor);
}

#gamePlayAgain{
	background-color: var(--titleColor);
}

#gameStatsUI{
	position: absolute;
	display: grid;
	grid-auto-flow: column;
	top: 1%;
	right: 2%;
	row-gap: 10px;
	column-gap: 1.5em;
	/* background-color: grey; */
	font-size: 4vh;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.gameStatContainer{
	display:grid;
	grid-template-columns: 1fr auto;
	column-gap: 0.5em;
	padding: 0.1em 0.2em 0.1em 0.2em;
	/* background-color: rgba(50, 50, 50, 0.5); */
	border-radius: 0px;
}

.gameStatIconContainer{
	width: 0.9em;
	height: 0.9em;

	font-family: ;

	display: flex;
	align-self: center;
	justify-self: left;
}

.gameStatIconContainer img{
	max-width: 100%;
	max-height: 100%;
	/* -webkit-text-stroke: 1px black; */
}
#iconEnergy{
	
	filter: hue-rotate(-30deg);
}

.gameStatContainer span{
	-webkit-text-stroke: 0px black;
	color: white;
	font-family: 'Questrial', sans-serif;
}

#gameScoreContainer{
	color: #328035;
}

#gameEnergyContainer{
	color: #ff7d00;
}

#gameTimeContainer{
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
	background-color: none;
	font-size: 6vh;
	font-family: 'Questrial', sans-serif;
	padding: 0.1em 0.2em 0.1em 0.2em;
}

#gameTimeColon{
	position: relative;
	bottom: 5px;
}

.voiceSelection{
	margin-top: 0.5em;
}
