<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>M4pW4lk | Admin</title>

	<link rel="stylesheet" href="../css/adminpanel.css">
</head>
<body>
	<h1 id="editorTitle">M4pW4lk question editor</h1>

	<div id="objectEditorContainer">
		<!-- <div class="objectEditorEntry">
			<div class="objectEditorSelector">
				<span>OBJECT NAME HERE</span>
			</div>

			<div class="objectEditorContent">
				<input type="text" placeholder="Title" data-title/>
				<input type="text" placeholder="Image URL" data-imgurl/>
				<textarea cols="30" rows="10" placeholder="Description" data-description></textarea>

				<div class="objectEditorLocation">
					<input type="text" placeholder="Latitude" data-locLat />
					<input type="text" placeholder="Longitude" data-locLng />
				</div>

				<div class="objectEditorQuestionContainer">
					<div class="objectEditorQuestion">
						<input type="text" placeholder="Question">
						<input type="text" placeholder="Answer">
					</div>
				</div>

				<button data-applyBtn>Apply</button>
			</div>
		</div> -->
	</div>
</body>
</html>