<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>M4pW4lk</title>
</head>
<body>
	<div id="game">
		<div id="map"></div>
		<div id="ui">
			<h1>The chungus is now real</h1>
			<div id="qotd" hidden></div>
			<h1 id="gameTurnInfo">derp</h1>

			<div id="chatZone">
				<div id="messages">
					<div class="serverMsg">welcome to the ai chat zone</div>
				</div>
				<input id="speech" type="text" placeholder="Your AD here 1.99$/h" autocomplete="off"/>
			</div>

			<div id="mapButtons">
				<button id="playerMove" class="button">Move</button>
				<button id="playerRest" class="button">Rest</button>
			</div>

			<div id="gameStatsUI">
				<div id="gameEnergyContainer">
					<span id="gameEnergy">100</span>
				</div>
	
				<div id="gameScoreContainer">
					<span id="gameScore">0</span>
				</div>
				
				<div id="gameTimeContainer">
					<span id="gameTime">00:00</span>
				</div>
			</div>

			<div id="chatOverlay">
				<div id="chatMessageContainer"></div>

				<div id="chatInputContainer">
					<input type="text" id="chatInput" placeholder="S p e a k">
				</div>
			</div>

			<div id="gameEndContainer">
				<span id="gameEndMessage">You suck lol</span>

				<div id="gameEndStats">
					<span>Score: <span id="gameEndScore">420</span></span>
					<span>Time taken: <span id="gameEndTimeTaken">6hrs 9min</span></span>
					<span>Time: <span id="gameEndTime"></span></span>
				</div>

				<div id="gameEndControls">
					<button id="gameEndExit" class="button">Exit to main menu</button>
				</div>
			</div>

			<div id="leaderboardContainer">
				todo lol
			</div>
		</div>
	</div>

	<div id="gamentContainer">
		<!-- <h1 id="gameTitle">M4pW4lk</h1> -->

		<div id="mainSuperContainer">
			<div id="mainContainer">
				<div id="pregame">
					<div id="settingsSelection" class="settingsSelection">
						<!-- Will be generated
						<h2>Singleplayer</h2>
						
						<div class="gameModeSelection">
							<span>Gamemode</span>
							<button class="button">Time attack</button>
							<button class="button">100%</button>
							<button class="button">100%'o clock</button>
						</div>
						
						<div class="objectSelection">
							<input type="range" min="5" max="50" value="15">
							<span>Objects: <span>15</span></span>
						</div>
						-->
					</div>
		
					<div id="p2pLobby">
						<div id="p2pHeader">
							<span>Lobby ID: <span id="lobbyID">123456</span></span>
						</div>
	
						<div id="p2pSettings">
							<span data-sectionTitle>Settings</span>
	
							<div id="lobbySettingsSelection" class="settingsSelection"></div>
						</div>
	
						<div id="p2pChat">
							<span data-sectionTitle>Chat</span>
	
							<div id="p2pChatMessages">
	
							</div>
	
							<input type="text" id="p2pChatInput" placeholder="Write a message. I dare you.">
						</div>
	
						<!-- <div id="p2pUsers">
							<div class="p2pUserEntry">
								<span data-username>User1</span>
								<span data-host>Host</span>
	
								<select class="p2pUserColorSelect" data-color>
									<option value="red">■■■■■■■■■</option>
									<option value="red"></option>
								</select>
	
								<button data-kick>Kick</button>
								<button data-hostbtn>Make host</button>
							</div>
	
							<div class="p2pUserEntry">
								<span data-username>User2</span>
	
								<select class="p2pUserColorSelect" data-color>
									<option value="red">/BLUE/</option>
								</select>
	
								<button data-kick>Kick</button>
								<button data-hostbtn>Make host</button>
							</div>
	
							<div class="p2pUserEntry">
								<span data-username>User3</span>
	
								<select class="p2pUserColorSelect" data-color>
									<option value="red">/TEAL/</option>
								</select>
	
								<button data-kick>Kick</button>
								<button data-hostbtn>Make host</button>
							</div>
						</div> -->
	
						<div id="p2pButtons">
							<button class="button" id="p2pStartGame">Start game</button>
							<button class="button" id="p2pQuitLobby">Quit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <svg id="fowSvg" viewbox="0 0 1000 1000">
		<defs>
			<radialGradient id="visibilityGradient">
				<stop offset="0%" style="stop-color:#000;stop-opacity:1" />
				<stop offset="85%" style="stop-color:#000;stop-opacity:1" />
				<stop offset="90%" style="stop-color:#444;stop-opacity:1" />
				<stop offset="95%" style="stop-color:#444;stop-opacity:1" />
				<stop offset="100%" style="stop-color:#FFF;stop-opacity:1" />
			</radialGradient>

			<radialGradient id="exploredGradient">
				<stop offset="0%" style="stop-color:#CCC;stop-opacity:1" />
				<stop offset="95%" style="stop-color:#CCC;stop-opacity:1" />
				<stop offset="100%" style="stop-color:#FFF;stop-opacity:1" />
			</radialGradient>

			<mask id="visibilityMask">
				<rect width="1000" height="1000" fill="#FFF"/>
				<circle cx="100" cy="100" r="50" fill="url(#visibilityGradient)"/>
			</mask>

			<mask id="exploredMask">
				<rect width="1000" height="1000" fill="#FFF"/>
				<path d="" fill="#CCC"/>
			</mask>
		</defs>

		<g mask="url(#exploredMask)">
			<rect width="1000" height="1000" style="fill: rgba(0, 0, 0, 0.9);" mask="url(#visibilityMask)"/>
		</g>
	</svg> -->
</body>
</html>