<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>M4pW4lk.js</title>
</head>
<body>
	<div id="game">
		<div id="map"></div>
		<div id="ui">
			<!-- <h1>The chungus is now real</h1> -->
			<div id="qotd" hidden></div>
			<h1 id="gameTurnInfo"></h1>

			<div id="chatZoneContainer">
				<div id="chatZone">
					<div id="messages">
						<div class="serverMsg">Laipni lūdzam AI tērzēšanas zonā :)</div>
					</div>
					<input id="speech" type="text" placeholder="Your AD here 1.99$/h" autocomplete="off"/>
				</div>
			</div>

			<div id="mapButtonsContainer">
				<div id="skipPar">	
					<button id="playerSkip" class="button"><div id="skipTip">Skips the turn</div>Skip</button>
				</div>
				<div id="mapButtons">
					<div id="movePar">	
						<button id="playerMove" class="button"><div id="moveTip">Move to the selected destination</div>Move</button>
					</div>
					<div id="restPar">
						<button id="playerRest" class="button"><div id="restTip">Rest for the turn</div>Rest</button>
					</div>
				</div>
			</div>

			<div id="gameStatsUI">
				<div id="gameEnergyContainer" class="gameStatContainer">
					<div class="gameStatIconContainer"><img src="img/IconEnergy.svg" alt="Energy" id="iconEnergy"></div>
					<span id="gameEnergy">100</span>
				</div>
	
				<div id="gameScoreContainer" class="gameStatContainer">
					<div class="gameStatIconContainer"><img src="img/IconScore.svg" alt="Score" id="iconScore"></div>
					<span id="gameScore">0</span>
				</div>
			</div>

			<div id="gameTimeContainer">
				<span id="gameTime">00<span id="gameTimeColon">:</span>00</span>
			</div>

			<div id="chatOverlay">
				<div id="chatMessageContainer"></div>

				<div id="chatInputContainer">
					<input type="text" id="chatInput" placeholder="S p e a k">
				</div>
			</div>

			<div id="gameEndOverlay">
				<div id="gameEndContainer">
					<span id="gameEndMessage">All objects visited!</span>
					<span gameEnd-time id = "gameEndTimeSpanThing">Time: <span id="gameEndTimeTaken">6hrs 9min</span></span><br><br>
					<span gameEnd-score>Score</span>
		
					<div id="gameEndLeaderboard">
						<!-- <div><span>Plyr1</span><span>420</span></div> -->
					</div>
		
					<div id="gameEndControls">
						<button id="gamePlayAgain" class="button">Play again</button>
						<button id="gameEndExit" class="button">Exit to main menu</button>
					</div>
					<br/>
					<div id="gameEndShare"> 
						Share this epic win with your friends:<br/>
						<ul class="share-buttons" data-source="simplesharingbuttons.com">
  							<li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mapwalk.tk&quote=MAPWALK%20COOL%20GAME" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="img/social_flat_rounded_rects_svg/Facebook.svg" id="facebookIco"/></a></li>
  							<li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fwww.mapwalk.tk&text=MAPWALK%20COOL%20GAME:%20https%3A%2F%2Fwww.mapwalk.tk" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="img/social_flat_rounded_rects_svg/Twitter.svg" id="twitterIco" /></a></li>
  							<li><a href="http://www.reddit.com/submit?url=https%3A%2F%2Fwww.mapwalk.tk&title=MAPWALK%20COOL%20GAME" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Submit to Reddit" src="img/social_flat_rounded_rects_svg/Reddit.svg"  id="redditIco" /></a></li>
  							<li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.mapwalk.tk&title=MAPWALK%20COOL%20GAME&summary=&source=https%3A%2F%2Fwww.mapwalk.tk" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Share on LinkedIn" src="img/social_flat_rounded_rects_svg/LinkedIn.svg" id="linkedInIco"/></a></li>
  							<li><a href="mailto:?subject=MAPWALK%20COOL%20GAME&body=:%20https%3A%2F%2Fwww.mapwalk.tk" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="img/social_flat_rounded_rects_svg/Email.svg" id="emailIco" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="gamentContainer">
		<!-- <h1 id="gameTitle">M4pW4lk</h1> -->

		<div id="mainSuperContainer">
			<div id="mainContainer">
				<div id="pregame">
					<div id="settingsSelection" class="settingsSelection">
						<!-- Will be generated
						<h2>Singleplayer</h2>
						
						<div class="gameModeSelection">
							<span>Gamemode</span>
							<button class="button">Time attack</button>
							<button class="button">100%</button>
							<button class="button">100%'o clock</button>
						</div>
						
						<div class="objectSelection">
							<input type="range" min="5" max="50" value="15">
							<span>Objects: <span>15</span></span>
						</div>
						-->
					</div>
		
					<div id="p2pLobby">
						<div id="p2pHeader">
							<span>Lobby ID: <span id="lobbyID">123456</span></span>
						</div>
	
						<div id="p2pSettings">
							<span data-sectionTitle>Settings</span>
	
							<div id="lobbySettingsSelection" class="settingsSelection"></div>
						</div>
	
						<div id="p2pChat">
							<span data-sectionTitle>Chat</span>
	
							<div id="p2pChatMessages">
	
							</div>
	
							<input type="text" id="p2pChatInput" placeholder="Write a message. I dare you.">
						</div>
	
						<!-- <div id="p2pUsers">
							<div class="p2pUserEntry">
								<span data-username>User1</span>
								<span data-host>Host</span>
	
								<select class="p2pUserColorSelect" data-color>
									<option value="red">■■■■■■■■■</option>
									<option value="red"></option>
								</select>
	
								<button data-kick>Kick</button>
								<button data-hostbtn>Make host</button>
							</div>
	
							<div class="p2pUserEntry">
								<span data-username>User2</span>
	
								<select class="p2pUserColorSelect" data-color>
									<option value="red">/BLUE/</option>
								</select>
	
								<button data-kick>Kick</button>
								<button data-hostbtn>Make host</button>
							</div>
	
							<div class="p2pUserEntry">
								<span data-username>User3</span>
	
								<select class="p2pUserColorSelect" data-color>
									<option value="red">/TEAL/</option>
								</select>
	
								<button data-kick>Kick</button>
								<button data-hostbtn>Make host</button>
							</div>
						</div> -->
	
						<div id="p2pButtons">
							<button class="button" id="p2pStartGame">Start game</button>
							<button class="button" id="p2pQuitLobby">Quit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <svg id="fowSvg" viewbox="0 0 1000 1000">
		<defs>
			<radialGradient id="visibilityGradient">
				<stop offset="0%" style="stop-color:#000;stop-opacity:1" />
				<stop offset="85%" style="stop-color:#000;stop-opacity:1" />
				<stop offset="90%" style="stop-color:#444;stop-opacity:1" />
				<stop offset="95%" style="stop-color:#444;stop-opacity:1" />
				<stop offset="100%" style="stop-color:#FFF;stop-opacity:1" />
			</radialGradient>

			<radialGradient id="exploredGradient">
				<stop offset="0%" style="stop-color:#CCC;stop-opacity:1" />
				<stop offset="95%" style="stop-color:#CCC;stop-opacity:1" />
				<stop offset="100%" style="stop-color:#FFF;stop-opacity:1" />
			</radialGradient>

			<mask id="visibilityMask">
				<rect width="1000" height="1000" fill="#FFF"/>
				<circle cx="100" cy="100" r="50" fill="url(#visibilityGradient)"/>
			</mask>

			<mask id="exploredMask">
				<rect width="1000" height="1000" fill="#FFF"/>
				<path d="" fill="#CCC"/>
			</mask>
		</defs>

		<g mask="url(#exploredMask)">
			<rect width="1000" height="1000" style="fill: rgba(0, 0, 0, 0.9);" mask="url(#visibilityMask)"/>
		</g>
	</svg> -->
</body>
</html>